<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techievolve_Core::core" title="Techievolve" module="Techievolve_Core" sortOrder="30" resource="Techievolve_Core::core"/>
    </menu>
</config>
