<?xml version="1.0"?>
<!--
/**
 * @category   Dapl
 * @package    Dapl_RF123
 *
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Settings -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Techievolve_Core::config" title="Techievolve Core" sortOrder="55" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>