<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techievolve_Banners::banners_manage" title="Manage Banners" module="Techievolve_Banners" sortOrder="10" parent="Techievolve_Core::core" action="banners/index/" resource="Techievolve_Banners::manage"/>
    </menu>
</config>
